  <div class="flex h-screen">
    <!-- Sidebar -->
    <div class="flex flex-col w-64 bg-gray-800">
      <!-- Sidebar content -->
      <div class="site-navigation">
        <div class="flex flex-col flex-grow pt-5 pb-4 overflow-y-auto">
          <!-- Logo -->
          <div class="flex items-center justify-center h-16 text-white">
                      <h3 class="block font-sans text-lg antialiased font-semibold leading-snug tracking-normal text-white">
            <a href="/">BRIDGE_IT</a>
          </h3>
          </div>
          <!-- Navigation Links -->

          <nav class="flex-1">
            <a href="/login"
              class="block px-4 py-2 mt-2 mb-8 text-sm font-bold text-white bg-gray-900 rounded-lg hover:bg-gray-700">Login</a>
            <!-- search ID -->
            <a href="#" id="search-form"
              class="block px-4 py-2 mt-2 text-sm font-medium text-white bg-gray-900 rounded-lg hover:bg-gray-700">Search</a>
            <span class="block px-10 py-2 mt-2 text-sm font-light text-white bg-gray-900 rounded-lg">Topics:</span>
            <a href="/games"
              class="block px-10 py-2 mt-2 text-sm font-medium text-white bg-gray-900 rounded-lg hover:bg-gray-700">Games</a>
            <a href="/technology"
              class="block px-10 py-2 mt-2 text-sm font-medium text-white bg-gray-900 rounded-lg hover:bg-gray-700">Technology</a>
            <a href="/audio-visual"
              class="block px-10 py-2 mt-2 text-sm font-medium text-white bg-gray-900 rounded-lg hover:bg-gray-700">Audio
              & Visual</a>
            <a href="#"
              class="block px-4 py-2 mt-2 text-sm font-medium text-white bg-gray-900 rounded-lg hover:bg-gray-700">Notifications</a>
            <a href="#"
              class="block px-4 py-2 mt-2 text-sm font-medium text-white bg-gray-900 rounded-lg hover:bg-gray-700">Settings</a>

            <!-- Add more links as needed -->
            {{!-- add in the posts by category--}}
          </nav>
        </div>
      </div>
    </div>
